# AWS SAM build artifacts
.aws-sam/

# Python cache and virtual environment
__pycache__/
*.pyc
.venv/

# Environment variables
.env
infrastructure/.env
lambda-package/


# IDE and OS specific files
.vscode/
.DS_Store

# Other temporary or sensitive files (add as needed)
# *.log
# *.sqlite
# local_settings.py